<% include partials/header %>
   

<div class="container">
       <h2>This is home</h2>
    <a href="/campgrounds">Campground</a><br>
    <a href="/">home</a>
</div>
   
 




<% include partials/footer %>