<% include partials/header %>



<div class="container">
    <header>
        <h1 style="text-align:center">Add New CampGraound</h1>
    </header>
</div>

<hr>


<div class="container">
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Type your name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="image" placeholder="Your Image">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Your Descrptiono">
        </div>
        <div class="form-group">
            <input type="submit" value="submit new campgrouds" class="btn btn-lg btn-primary">
        </div>
    </form>
</div>
























<% include partials/footer %>